# Copyright 2024-2025 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# product related

config MCUX_HW_SOC_SERIES_MIMX
    bool
    default y

config MCUX_HW_SOC_SINGLECORE_DEVICE
    bool
    default y

# core related

config MCUX_HW_CORE
    string
    default "ca55"

config MCUX_HW_CORE_CA55
    bool
    default y

config MCUX_HW_CORE_ID
    string
    default "ca55"

config MCUX_HW_CORE_ID_CA55
    bool
    default y

config MCUX_HW_DSP
    bool
    default n

config MCUX_HW_MPU
    bool
    default n

config MCUX_HW_SAU
    bool
    default n

config MCUX_HW_INT_PRIO_BITS
    int
    default 4

# device related

config MCUX_HW_DEVICE_CORE
    string
    default "MIMX9131"

config MCUX_HW_DEVICE_ID_MIMX9131xxxxJ
    bool

choice MCUX_HW_DEVICE_PART_MIMX9131
    prompt "Device MIMX9131 Part"
    config MCUX_HW_DEVICE_PART_MIMX9131CVVXJ
    bool "MIMX9131CVVXJ"
    select MCUX_HW_DEVICE_ID_MIMX9131xxxxJ
    config MCUX_HW_DEVICE_PART_MIMX9131DVVXJ
    bool "MIMX9131DVVXJ"
    select MCUX_HW_DEVICE_ID_MIMX9131xxxxJ
endchoice

config MCUX_HW_DEVICE_ID
    string
    default "MIMX9131xxxxJ" if MCUX_HW_DEVICE_ID_MIMX9131xxxxJ

config MCUX_HW_DEVICE_PART
    string
    default "MIMX9131CVVXJ" if MCUX_HW_DEVICE_PART_MIMX9131CVVXJ
    default "MIMX9131DVVXJ" if MCUX_HW_DEVICE_PART_MIMX9131DVVXJ

# ip information

config MCUX_HW_IP_DriverType_AXBS
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_MIMX9131xxxxJ

config MCUX_HW_IP_DriverType_BLK_CTRL_MEDIAMIX
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_MIMX9131xxxxJ

config MCUX_HW_IP_DriverType_BLK_CTRL_NIC_WRAPPER
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_MIMX9131xxxxJ

config MCUX_HW_IP_DriverType_BLK_CTRL_NS_AONMIX
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_MIMX9131xxxxJ

config MCUX_HW_IP_DriverType_BLK_CTRL_S_AONMIX
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_MIMX9131xxxxJ

config MCUX_HW_IP_DriverType_BLK_CTRL_WAKEUPMIX
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_MIMX9131xxxxJ

config MCUX_HW_IP_DriverType_CACHE
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_MIMX9131xxxxJ

config MCUX_HW_IP_DriverType_DDR
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_MIMX9131xxxxJ

config MCUX_HW_IP_DriverType_D_IP_MX91_CCM
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_MIMX9131xxxxJ

config MCUX_HW_IP_DriverType_EDMA3
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_MIMX9131xxxxJ

config MCUX_HW_IP_DriverType_EDMA4
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_MIMX9131xxxxJ

config MCUX_HW_IP_DriverType_ENET
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_MIMX9131xxxxJ

config MCUX_HW_IP_DriverType_ENET_QOS
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_MIMX9131xxxxJ

config MCUX_HW_IP_DriverType_FLEXCAN
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_MIMX9131xxxxJ

config MCUX_HW_IP_DriverType_FLEXIO
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_MIMX9131xxxxJ

config MCUX_HW_IP_DriverType_FLEXSPI
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_MIMX9131xxxxJ

config MCUX_HW_IP_DriverType_FSB
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_MIMX9131xxxxJ

config MCUX_HW_IP_DriverType_I3C
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_MIMX9131xxxxJ

config MCUX_HW_IP_DriverType_ISI
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_MIMX9131xxxxJ

config MCUX_HW_IP_DriverType_JTAGC
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_MIMX9131xxxxJ

config MCUX_HW_IP_DriverType_LCDIF
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_MIMX9131xxxxJ

config MCUX_HW_IP_DriverType_LPI2C
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_MIMX9131xxxxJ

config MCUX_HW_IP_DriverType_LPIT
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_MIMX9131xxxxJ

config MCUX_HW_IP_DriverType_LPSPI
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_MIMX9131xxxxJ

config MCUX_HW_IP_DriverType_LPTMR
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_MIMX9131xxxxJ

config MCUX_HW_IP_DriverType_LPUART
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_MIMX9131xxxxJ

config MCUX_HW_IP_DriverType_MQS
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_MIMX9131xxxxJ

config MCUX_HW_IP_DriverType_PDM
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_MIMX9131xxxxJ

config MCUX_HW_IP_DriverType_RGPIO
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_MIMX9131xxxxJ

config MCUX_HW_IP_DriverType_SAI
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_MIMX9131xxxxJ

config MCUX_HW_IP_DriverType_SAR_ADC
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_MIMX9131xxxxJ

config MCUX_HW_IP_DriverType_SEMA42
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_MIMX9131xxxxJ

config MCUX_HW_IP_DriverType_SPDIF
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_MIMX9131xxxxJ

config MCUX_HW_IP_DriverType_SYS_CTR_COMPARE
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_MIMX9131xxxxJ

config MCUX_HW_IP_DriverType_SYS_CTR_CONTROL
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_MIMX9131xxxxJ

config MCUX_HW_IP_DriverType_SYS_CTR_READ
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_MIMX9131xxxxJ

config MCUX_HW_IP_DriverType_TPM
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_MIMX9131xxxxJ

config MCUX_HW_IP_DriverType_TRDC_1
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_MIMX9131xxxxJ

config MCUX_HW_IP_DriverType_TRGMUX
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_MIMX9131xxxxJ

config MCUX_HW_IP_DriverType_TSTMR
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_MIMX9131xxxxJ

config MCUX_HW_IP_DriverType_USDHC
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_MIMX9131xxxxJ

config MCUX_HW_IP_DriverType_WDOG32
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_MIMX9131xxxxJ

config MCUX_HW_IP_DriverType_blk_ctrl_ddrmix
    bool
    default y
    depends on MCUX_HW_DEVICE_ID_MIMX9131xxxxJ

config MCUX_TOOLCHAIN_LINKER_DEVICE_PREFIX
    string
    default "MIMX9131xxxxJ" if MCUX_HW_DEVICE_ID_MIMX9131xxxxJ
