# Copyright 2024 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

menu "Device specific drivers configuration"

    config MCUX_COMPONENT_driver.clock
         bool "clock"
         default y

    config MCUX_COMPONENT_driver.fusion
         bool "fusion"
         default n

    config MCUX_COMPONENT_driver.iomuxc
         bool "iomuxc"
         default y

    config MCUX_COMPONENT_driver.memory
         bool "memory"
         default y

    config MCUX_COMPONENT_driver.reset
         bool "reset"
         default y

    config MCUX_COMPONENT_driver.sentinel
         bool "sentinel"
         default y

    config MCUX_COMPONENT_driver.mipi_dsi_soc
         bool "mipi_dsi_soc"
         default y

    config MCUX_COMPONENT_driver.upower
         bool "upower"
         default y

endmenu
